@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --font-poppins: "Poppins", sans-serif;
    --nav-height: 80px;
    --clr-light-red: #ff0000;
    --clr-dark-red: #cc0000;
    --clr-blue: #3b4cca;
    --clr-light-yellow: #ffde00;
    --clr-dark-yellow: #b3a125;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}

/* PAGE */
.page {
    width: 100%;
    margin-top: var(--nav-height);
    height: 100%;
    background: white;
    padding-top: 20px;
}

/* MODAL */
.modal-container {
    position: fixed;
    top: calc(0 - var(--nav-height));
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    background: #cecece8c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    width: 500px;
    height: 600px;
    background: rgb(141, 140, 140);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-card .modal-title {
    width: 80%;
    border-radius: 10px;
    margin-top: 20px;
    background: #d3d3d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-card .modal-title h3 {
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}

.modal-card .modal-title .modal-title-id {
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card .modal-title .modal-title-id p {
    color: white;
}

.modal-img-wrapper {
    width: 80%;
    height: 250px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
}

.modal-img-wrapper img {
    width: 250px;
}

.modal-desc {
    width: 80%;
    height: 180px;
    margin-top: 20px;
    border-radius: 10px;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.modal-desc .modal-stats-left {
    width: 45%;
}

.modal-desc .modal-stats-right {
    width: 45%;
}

.modal-desc .modal-stats-left .row-stat,
.modal-desc .modal-stats-right .row-stat {
    margin: 10px 0;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 300;
}

.modal-desc .icon {
    margin-right: 10px;
}

.modal-type {
    margin: 10px 0;
    margin-left: 10px;
}

.modal-type .types-text {
    font-size: 20px;
    font-weight: 500;
}

/* NAVBAR */
.nav-toggle {
    display: none;
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    background: var(--clr-blue);
}

.navbar .links-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar .nav-link {
    position: relative;
    color: var(--clr-light-yellow);
    font-size: 25px;
    text-decoration: none;
}

.navbar .nav-link.active::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 5px;
    background: var(--clr-light-yellow);
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);
}

/* HOME */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--nav-height));
}

.home-page .logo-container {
    width: 80%;
}

.home-page .logo-container img {
    width: 100%;
}

.home-page .home-title {
    font-size: 50px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .home-title .icon {
    margin-left: 30px;
    transition: all 0.5s ease;
}

.home-page .home-title:hover .icon {
    transform: translateX(20px);
}

/* ABOUT */

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page .title-container h1 {
    font-size: 60px;
    font-weight: 500;
}

.about-page .about-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    background: #0000002d;
    border-radius: 10px;
}

.about-page .about-desc p {
    font-size: 25px;
    padding: 10px 30px;
    text-align: justify;
}

.about-page .about-desc .contact-email {
    position: relative;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 300px;
    cursor: pointer;
}
.about-page .about-desc .api-desc {
    font-size: 15px;
    padding: 10px 30px;
    text-align: justify;
    margin-bottom: 20px;
}

.about-page .about-desc p .alert {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    z-index: 999;
    background: rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    cursor: auto;
}

/* POKEMON LIST */

.pokemon-list-page {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

/* FILTER */
.pokemon-list-page .left-column {
    width: 25%;
    height: calc(100% - var(--nav-height));
    position: fixed;
    top: var(--nav-height);
    left: 0;
    background: white;
}

.filter-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filter-img-wrapper {
    width: 70%;
    max-width: 200px;
}

.pokeball-img {
    width: 100%;
}

.filter-form {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-control {
    margin: 20px 0;
}

.input-control label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.input-control .name-input {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    width: 200px;
    margin-bottom: 30px;
}

.select {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 12px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    width: 200px;
}

.select:focus,
.select:hover {
    outline: none;
    border: 2px solid var(--clr-blue);
}

/* right column with pokemon list */
.pokemon-list-page .right-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 75%;
}

.pokemon-list-page .right-column .list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-list-page .right-column .list-container .pokemon-card {
    /* clip-path: polygon(0 0, 20% 0, 20% 8%, 100% 8%, 100% 100%, 0 100%, 0 0); */
    margin: 5px;
    width: 250px;
    height: 350px;
    background: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.pokemon-list-page .right-column .list-container .pokemon-card .pokemon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-top: 10px;
    text-align: center;
}

.pokemon-list-page
    .right-column
    .list-container
    .pokemon-card
    .pokemon-desc
    .pokemon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: lightgray;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    width: 100%;
    height: 60px;
    text-transform: capitalize;
}

.pokemon-list-page
    .right-column
    .list-container
    .pokemon-card
    .pokemon-desc
    .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 90%;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.pokemon-list-page
    .right-column
    .list-container
    .pokemon-card
    .pokemon-desc
    .img-wrapper
    img {
    height: 150px;
}

.pokemon-list-page
    .right-column
    .list-container
    .pokemon-card
    .pokemon-desc
    .pokemon-type {
    border-radius: 10px;
    background: lightgray;
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-list-page .right-column .next-previous-container {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 10px 0;
    width: 100%;
}

.pokemon-list-page .right-column .next-previous-container .nav-left,
.pokemon-list-page .right-column .next-previous-container .nav-right {
    font-size: 30px;
    margin: 0 10px;
    color: var(--clr-blue);
    cursor: pointer;
}

.pokemon-list-page .right-column .next-previous-container span {
    font-size: 30px;
    margin: 0 10px;
}

/* ----------------------------- MEDIA QUERIES ------------------------------------------ */

@media (max-width: 1200px) {
    .input-control label {
        display: block;
        font-size: 14px;
        font-weight: 500;
    }

    .select {
        font-size: 14px;
        padding: 8px 12px;
        width: 170px;
    }

    .input-control .name-input {
        font-size: 14px;
        padding: 8px 12px;
        width: 170px;
    }

    /* right column with pokemon list */

    .pokemon-list-page .right-column .list-container .pokemon-card {
        /* clip-path: polygon(0 0, 20% 0, 20% 8%, 100% 8%, 100% 100%, 0 100%, 0 0); */
        margin: 5px;
        width: 200px;
        height: 300px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .pokemon-name {
        font-size: 18px;
        height: 40px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .img-wrapper {
        height: 150px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .img-wrapper
        img {
        height: 140px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .pokemon-type {
        font-size: 13px;
        height: 40px;
    }

    .pokemon-list-page .right-column .next-previous-container {
        height: 50px;
    }

    .pokemon-list-page .right-column .next-previous-container .nav-left,
    .pokemon-list-page .right-column .next-previous-container .nav-right {
        font-size: 25px;
    }

    .pokemon-list-page .right-column .next-previous-container span {
        font-size: 25px;
    }

    /* about */

    .about-page .title-container h1 {
        font-size: 55px;
    }

    .about-page .about-desc p {
        font-size: 20px;
    }

    .about-page .about-desc .contact-email {
        font-size: 30px;
    }
    .about-page .about-desc .api-desc {
        font-size: 14px;
        padding: 10px 30px;
        text-align: justify;
        margin-bottom: 20px;
    }

    .about-page .about-desc p .alert {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    /* HOME */

    .home-page .home-title {
        font-size: 35px;
    }

    .home-page .home-title .icon {
        margin-left: 20px;
    }

    /* filter */
    .input-control label {
        display: block;
        font-size: 13px;
        font-weight: 500;
    }

    .select {
        font-size: 13px;
        padding: 8px 12px;
        width: 170px;
    }

    .input-control .name-input {
        font-size: 13px;
        padding: 8px 12px;
        width: 170px;
    }

    /* right column with pokemon list */

    .pokemon-list-page .right-column .list-container .pokemon-card {
        margin: 5px;
        width: 180px;
        height: 280px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .pokemon-name {
        font-size: 16px;
        height: 35px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .img-wrapper {
        height: 130px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .img-wrapper
        img {
        height: 120px;
    }

    .pokemon-list-page
        .right-column
        .list-container
        .pokemon-card
        .pokemon-desc
        .pokemon-type {
        font-size: 13px;
        height: 40px;
    }

    .pokemon-list-page .right-column .next-previous-container {
        height: 50px;
    }

    .pokemon-list-page .right-column .next-previous-container .nav-left,
    .pokemon-list-page .right-column .next-previous-container .nav-right {
        font-size: 23px;
    }

    .pokemon-list-page .right-column .next-previous-container span {
        font-size: 23px;
    }

    /* about */

    .about-page .title-container h1 {
        font-size: 40px;
    }

    .about-page .about-desc p {
        font-size: 18px;
    }

    .about-page .about-desc .contact-email {
        font-size: 25px;
        margin-bottom: 150px;
    }
    .about-page .about-desc .api-desc {
        font-size: 12px;
    }

    .about-page .about-desc p .alert {
        font-size: 0.6rem;
    }
}

@media (max-width: 768px) {
    /* HOME */

    .home-page .home-title {
        font-size: 30px;
    }

    .home-page .home-title .icon {
        margin-left: 10px;
    }

    /* navbar */

    .navbar {
        display: flex;
    }
    .nav-toggle {
        display: block;
        margin: 0 20px;
    }

    .nav-icon {
        color: var(--clr-light-yellow);
        font-size: 35px;
    }

    .navbar .links-container {
        position: absolute;
        right: 0;
        top: 80px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 250px;
        background: var(--clr-blue);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.3s ease;
    }

    .navbar .nav-link.active::after {
        content: "";
        position: absolute;
        width: 130%;
        height: 6px;
        background: var(--clr-light-yellow);
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
    }

    .pokemon-list-page {
        flex-direction: column;
    }
    .pokemon-list-page .left-column {
        width: 100%;
        height: unset;
        position: initial;
        background: white;
    }

    .filter-container {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .filter-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        max-width: unset;
    }

    .pokeball-img {
        width: 80%;
        max-width: 150px;
    }

    .input-control label {
        display: block;
        font-size: 15px;
        font-weight: 500;
    }

    .input-control .name-input {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .select {
        font-size: 15px;
    }

    .pokemon-list-page .right-column {
        width: 100%;
    }

    /* about */

    .about-page .title-container h1 {
        font-size: 30px;
    }

    .about-page .about-desc p {
        font-size: 13px;
    }

    .about-page .about-desc .contact-email {
        font-size: 17px;
        margin-bottom: 100px;
    }
    .about-page .about-desc .api-desc {
        font-size: 8px;
    }

    .about-page .about-desc p .alert {
        top: 30px;
        font-size: 0.4rem;
    }
}

@media (max-width: 480px) {
    /* HOME */

    .home-page .home-title {
        font-size: 25px;
    }

    .home-page .home-title .icon {
        margin-left: 10px;
    }

    /* about */

    .about-page .title-container h1 {
        font-size: 20px;
    }

    .about-page .about-desc p {
        font-size: 10px;
    }

    .about-page .about-desc .contact-email {
        font-size: 13px;
        margin-bottom: 80px;
    }
    .about-page .about-desc .api-desc {
        font-size: 7px;
    }

    .about-page .about-desc p .alert {
        top: 30px;
        font-size: 0.4rem;
    }
}
